@page "/"
@rendermode InteractiveWebAssembly
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Home> L

<PageTitle>@L["PageTitle"]</PageTitle>

<h1>@L["Heading"]</h1>

<p>@L["Lead"]</p>
